body {
  font-family: "DM Sans", sans-serif;
  background-color: #1d1e22;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* https://thegraph.com/en/ */
.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}

/* https://rareblocks.xyz */

.text-gradient {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
