body {
  font-family: "Open Sans", sans-serif;
  background: url("http://yoannbraie.fr/commons/pics/pattern_ordi.jpg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}
.xbox_cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 140, 27, 0.6);
  z-index: 1;
}
main {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}
.xbox_x {
  z-index: 2;
  position: relative;
}
.xbox_x > .top {
  width: 500px;
  height: 70px;
  background-color: #2b2b2b;
  margin: auto;
}
.xbox_x > .top > img {
  height: 100%;
  transform: scale(0.4);
  float: right;
  -webkit-animation: come_on 1.5s linear infinite;
}
.xbox_x > .mid {
  width: 470px;
  height: 10px;
  background-color: black;
  margin: auto;
  transform: translateX(12px);
}
.xbox_x > .bot {
  width: 480px;
  height: 28px;
  background-color: #232323;
  margin: auto;
  transform: translateX(10px);
}
.xbox_x > .bot > div {
  width: 12px;
  height: 12px;
  background-color: black;
  display: inline-block;
  margin: 8px 3px;
  position: relative;
}
.xbox_x > .bot > div:nth-child(1) {
  border-radius: 50%;
  margin-left: 20px;
  background-color: #232323;
  border: 1px solid black;
  width: 10px;
  height: 10px;
}
.xbox_x > .bot > div:nth-child(2) {
  border-radius: 10px;
  margin-left: 10px;
  background-color: black;
  width: 30px;
  height: 12px;
}
.xbox_x > .bot > div:nth-child(3) {
  background-color: transparent;
  margin-left: 320px;
  width: 12px;
  height: 12px;
  font-size: 8px;
  transform: translateY(-12px) translateX(5px);
}
.xbox_x > .bot > div:nth-child(4) {
  border-radius: 50%;
  margin-left: 0px;
  background-color: #232323;
  border: 1px solid black;
  width: 10px;
  height: 10px;
}
.xbox_x > .bot > div:nth-child(5) {
  border-radius: 1px;
  margin-left: 05px;
  background-color: black;
  width: 30px;
  height: 12px;
}
.xbox_x > .bot > div:nth-child(5)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #232323;
  left: 5px;
  width: 20px;
  top: 3px;
}

h1 {
  color: white;
  text-align: center;
  transform: translateY(50px);
  position: relative;
  z-index: 3;
  font-weight: 100;
}

@keyframes come_on {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
